<nav style="margin-top: -32px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a  style="font-size: 78px;color: rgb(204, 204, 204); font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="navbar-brand" href="/">Highlights</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      {%if user.is_authenticated %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li style="margin-top: 50px;" class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li style="margin-top: 50px; text-decoration: white; " class="nav-item">
          <a class="nav-link" href="profile/{{request.user.id}}/">{{ user.username }}</a>
          (myprofile)
        </li>
        
        
        <li style="margin-top: 50px;" class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

        <li style="margin-top: 50px;" class="nav-item">
          <a class="nav-link" href="{% url 'createprofile' %}">UpdateProfile</a>
        </li>
        

      </ul>
      {%else%}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        <li style="margin-top: 50px;" class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Login</a>
        </li>

        <li style="margin-top: 50px;"class="nav-item">
          <a class="nav-link" href="/accounts/register">Register</a>
        </li>
      </ul>
      {%endif%}
      <form method="GET" action="" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="project" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>