{%extends 'registration/base.html'%}
{%load bootstrap4 %}
{%block content %}
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <h1 style="color: rgb(112, 112, 112);" >Add your profile picture and status. Create profile once and go to your profile page to see your profile</h1>
    <div class="col-md-12 mt-4 mx-auto">

<form  action="{%url 'createprofile'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary btn-lg" value="Create">
  </form>
  </div>
</div>
</div>
{%endblock%}
